body {
  width: 95%;
  margin: 0 auto;
}

hr {
  border: solid 2px #7d97ad;
}

.container {
  display: flex;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

/*Header*/
header {
  flex-wrap: wrap;
  justify-content: space-between;
}

.author {
  text-align: right;
  text-transform: uppercase;
  color: #2d3c49;
}

.author h1 {
  margin: 0 auto;
  font: 50px 'Lato', sans-serif;
  font-weight: 100;
}

.author h3 {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/*Main*/
main img {
  margin: 20px 0;
  width: 100%;
}

/*Project*/
.section-title {
  margin: 10px 0;
  color: #7d97ad;
  font: 32px 'Lato', sans-serif;
  font-weight: 300;
}

.container.gallery {
  flex-wrap: wrap;
  justify-content: space-between;
}

article {
  text-align: center;
}

article h3 {
  margin: 5px auto;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 28px;
}

a {
  margin-top: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #2d3c49;
  text-decoration: none;
}
